In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('inventory.db')
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'", conn)
tables

              name
0  begin_inventory
1    end_inventory
2        purchases
3  purchase_prices
4            sales
5   vendor_invoice

In [2]:
for table in tables ['name']:
    print(f'{table}')
    display(pd.read_sql(f"select * from {table} limit 5", conn))

begin_inventory

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

end_inventory

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

purchase_prices

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

In [ ]:
import pandas as pd 
import sqlite3

# 1. Establish the connection (as done in your previous steps)
conn = sqlite3.connect('inventory.db')

# 2. Define the corrected SQL query
sql_query = """
    SELECT * FROM purchase_prices 
    WHERE VendorNumber = 4466
"""

# 3. Execute the query using pandas.read_sql()
df_vendor_4466 = pd.read_sql(sql_query, conn)

# 4. Print the results (first 5 rows)
print("---purchase_prices ---  Results for Vendor 4466 ---")
print(df_vendor_4466.head())

# 5. Close the connection
conn.close()

In [18]:
import pandas as pd 
import sqlite3
conn = sqlite3.connect('inventory.db')

pd.read_sql_query ("""SELECT
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.Description,
    p.PurchasePrice,
    pp.Volume,
    pp.Price as ActualPrice,
    SUM(p.Quantity) as TotalPurchaseQuantity,
    SUM(p.Dollars) as TotalPurchaseDollars
FROM purchases AS p
JOIN purchase_prices AS pp
  ON p.Brand = pp.Brand
WHERE p.PurchasePrice > 0
GROUP BY p.VendorNumber, p.VendorName, p.Brand
ORDER BY TotalPurchaseDollars""", conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,50,0.99,1,0.71
1,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,200,1.99,1,1.47
2,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,50,0.99,2,1.48
3,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,50,0.49,6,2.34
4,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750,29.99,138109,3023206.01
10688,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750,22.99,201682,3261197.94
10689,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750,24.99,187407,3418303.68
10690,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750,28.99,164038,3804041.22
10691,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750,36.99,145080,3811251.60

In [19]:
import pandas as pd 
import sqlite3

conn = sqlite3.connect('inventory.db')
tables_df = pd.read_sql_query("SELECT * FROM sales;", conn)

print(tables_df.columns)

MemoryError: Unable to allocate 97.8 MiB for an array with shape (12825363,) and data type int64

In [20]:
import pandas as pd 
import sqlite3
conn = sqlite3.connect('inventory.db')

pd.read_sql_query("""SELECT
    VendorNo,
    Brand,
    Description,
    SUM(SalesDollars) as TotalSalesDollars,
    SUM(SalesPrice) as TotalSalesPrice,
    SUM(SalesQuantity) as TotalSalesQuantity,
    SUM(ExciseTax) as TotalExciseTax
    From sales
    GROUP BY VendorNo,Brand
    ORDER BY TotalSalesDollars""", conn)

,VendorNo,Brand,Description,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax
0,8004,5287,Dr McGillicuddy's Vanilla,0.98,0.98,2,0.10
1,9206,2773,Revel Stoke Roasted Pecan,0.99,0.99,1,0.05
2,3252,3933,New Amsterdam Vodka,1.98,0.99,2,0.10
3,3924,9123,Deep Eddy Vodka,1.98,0.99,2,0.10
4,10050,3623,Spud Potato Vodka,1.98,1.98,2,0.10
...,...,...,...,...,...,...,...
11267,3960,3545,Ketel One Vodka,4223107.62,545778.28,135838,249587.83
11268,3960,4261,Capt Morgan Spiced Rum,4475972.88,420050.01,200412,368242.80
11269,17035,8068,Absolut 80 Proof,4538120.60,461140.15,187140,343854.07
11270,4425,3405,Tito's Handmade Vodka,4819073.49,561512.37,160247,294438.66
11271,1128,1233,Jack Daniels No 7 Black,5101919.51,672819.31,142049,260999.20

In [21]:
final_table = pd.read_sql_query("""SELECT
    pp.VendorNumber,
    pp.Brand,
    pp.Description,
    pp.Price as ActualPrice,
    pp.PurchasePrice,
    SUM(s.SalesQuantity) AS TotalSalesQuantity,
    SUM(s.SalesDollars) AS TotalSalesDollars
    SUM(s.SalesPrice) AS TotalSalesPrice,
    SUM(s.ExciseTax) AS TotalExciseTax,
    SUM(vi.Quantity) AS TotalPurchaseQuantity,
    SUM(vi.Dollars) AS TotalPurchaseDollars,
    SUM(vi.Freight) AS TotalFreightCost
    FROM purchase_prices pp
    JOIN sales s
    ON pp.VendorNumber = s.VendorNo
    AND pp.Brand = s.Brand
    JOIN vendor_invoice vi 
    ON pp.VendorNumber = vi.VendorNumber
    GROUP BY pp.VendorNumber, pp.Brand, pp.Price, pp.PurchasePrice""", conn)

DatabaseError: Execution failed on sql 'SELECT
    pp.VendorNumber,
    pp.Brand,
    pp.Description,
    pp.Price as ActualPrice,
    pp.PurchasePrice,
    SUM(s.SalesQuantity) AS TotalSalesQuantity,
    SUM(s.SalesDollars) AS TotalSalesDollars
    SUM(s.SalesPrice) AS TotalSalesPrice,
    SUM(s.ExciseTax) AS TotalExciseTax,
    SUM(vi.Quantity) AS TotalPurchaseQuantity,
    SUM(vi.Dollars) AS TotalPurchaseDollars,
    SUM(vi.Freight) AS TotalFreightCost
    FROM purchase_prices pp
    JOIN sales s
    ON pp.VendorNumber = s.VendorNo
    AND pp.Brand = s.Brand
    JOIN vendor_invoice vi
    ON pp.VendorNumber = vi.VendorNumber
    GROUP BY pp.VendorNumber, pp.Brand, pp.Price, pp.PurchasePrice': near "SUM": syntax error

In [23]:
import pandas as pd 
import sqlite3
conn = sqlite3.connect('inventory.db')

vendor_sales_summary = pd.read_sql_query("""With FreightSummary AS (
SELECT
    VendorNumber,
    SUM(Freight) AS TotalFreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),
                                         
PurchaseSummary AS (
SELECT
    p.VendorNumber,
    p.VendorName,
    p.Brand,
    p.Description,
    p.PurchasePrice,
    pp.Volume,
    pp.Price as ActualPrice,
    SUM(p.Quantity) as TotalPurchaseQuantity,
    SUM(p.Dollars) as TotalPurchaseDollars
FROM purchases AS p
JOIN purchase_prices AS pp
  ON p.Brand = pp.Brand
WHERE p.PurchasePrice > 0
GROUP BY p.VendorNumber, p.VendorName, p.Brand, p.PurchasePrice, pp.Volume
),
                                         
SalesSummary AS (
SELECT
    VendorNo,
    Brand,
    SUM(SalesDollars) as TotalSalesDollars,
    SUM(SalesPrice) as TotalSalesPrice,
    SUM(SalesQuantity) as TotalSalesQuantity,
    SUM(ExciseTax) as TotalExciseTax
    From sales
    GROUP BY VendorNo,Brand                                         
  )
                                         
SELECT
ps.VendorNumber,
ps.VendorName,
ps.Brand,
ps.Description,
ps.PurchasePrice,
ps.ActualPrice,
ps.Volume,
ps.TotalPurchaseQuantity,
ps.TotalPurchaseDollars,
ss.TotalSalesDollars,
ss.TotalSalesPrice,
ss.TotalSalesQuantity,
ss.TotalExciseTax,
fs.TotalFreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss
ON ps.VendorNumber = ss.VendorNo
AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs
ON ps.VendorNumber = fs.VendorNumber
ORDER BY ps.TotalPurchaseDollars DESC""",conn)

In [24]:
print(vendor_sales_summary)

       VendorNumber                   VendorName  Brand  \
0              1128  BROWN-FORMAN CORP             1233
1              4425        MARTIGNETTI COMPANIES   3405
2             17035  PERNOD RICARD USA             8068
3              3960  DIAGEO NORTH AMERICA INC      4261
4              3960  DIAGEO NORTH AMERICA INC      3545
...             ...                          ...    ...
10687          9815  WINE GROUP INC                8527
10688          8004  SAZERAC CO INC                5683
10689          3924  HEAVEN HILL DISTILLERIES      9123
10690          3960  DIAGEO NORTH AMERICA INC      6127
10691          7245  PROXIMO SPIRITS INC.          3065

                       Description  PurchasePrice  ActualPrice Volume  \
0          Jack Daniels No 7 Black          26.27        36.99   1750
1            Tito's Handmade Vodka          23.19        28.99   1750
2                 Absolut 80 Proof          18.24        24.99   1750
3           Capt Morgan Spiced Rum          16.17        22.99   1750
4                  Ketel One Vodka          21.89        29.99   1750
...                            ...            ...          ...    ...
10687  Concannon Glen Ellen Wh Zin           1.32         4.99    750
10688  Dr McGillicuddy's Apple Pie           0.39         0.49     50
10689              Deep Eddy Vodka           0.74         0.99     50
10690  The Club Strawbry Margarita           1.47         1.99    200
10691     Three Olives Grape Vodka           0.71         0.99     50

       TotalPurchaseQuantity  TotalPurchaseDollars  TotalSalesDollars  \
0                     145080            3811251.60         5101919.51
1                     164038            3804041.22         4819073.49
2                     187407            3418303.68         4538120.60
3                     201682            3261197.94         4475972.88
4                     138109            3023206.01         4223107.62
...                      ...                   ...                ...
10687                      2                  2.64              15.95
10688                      6                  2.34              65.66
10689                      2                  1.48               1.98
10690                      1                  1.47             143.28
10691                      1                  0.71              85.14

       TotalSalesPrice  TotalSalesQuantity  TotalExciseTax  TotalFreightCost
0            672819.31            142049.0       260999.20          68601.68
1            561512.37            160247.0       294438.66         144929.24
2            461140.15            187140.0       343854.07         123780.22
3            420050.01            200412.0       368242.80         257032.07
4            545778.28            135838.0       249587.83         257032.07
...                ...                 ...             ...               ...
10687            10.96                 5.0            0.55          27100.41
10688             1.47               134.0            7.04          50293.62
10689             0.99                 2.0            0.10          14069.87
10690            77.61                72.0           15.12         257032.07
10691            33.66                86.0            4.46          38994.78

[10692 rows x 14 columns]

In [25]:
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
PurchasePrice            float64
ActualPrice              float64
Volume                    object
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
TotalSalesDollars        float64
TotalSalesPrice          float64
TotalSalesQuantity       float64
TotalExciseTax           float64
TotalFreightCost         float64
dtype: object

In [28]:
vendor_sales_summary['Volume'] = vendor_sales_summary['Volume'].astype('float64')
vendor_sales_summary.fillna(0, inplace = True)
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()

In [29]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit'] / vendor_sales_summary['TotalSalesDollars'])*100
vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity'] / vendor_sales_summary['TotalPurchaseQuantity']
vendor_sales_summary['SalestoPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars'] / vendor_sales_summary['TotalPurchaseDollars']
cursor = conn.cursor()

In [30]:
import pandas as pd 
import sqlite3
conn = sqlite3.connect('inventory.db')
cursor = conn.cursor()

In [31]:
cursor.execute("""CREATE TABLE vendor_sales_summary(
VendorNumber INT,              
VendorName VARCHAR(100),               
Brand  INT,
Description VARCHAR(100),                    
PurchasePrice DECIMAL(10,2),           
ActualPrice  DECIMAL(10,2),            
Volume,                   
TotalPurchaseQuantity INT,     
TotalPurchaseDollars DECIMAL(15,2),    
TotalSalesDollars DECIMAL(15,2),       
TotalSalesPrice DECIMAL(15,2),         
TotalSalesQuantity INT,      
TotalExciseTax DECIMAL(15,2),          
TotalFreightCost DECIMAL(15,2),
GrossProfit DECIMAL(15,2),
ProfitMargin DECIMAL(15,2),
StockTurnover DECIMAL(15,2),
SalestoPurchaseRatio  DECIMAL(15,2), 
PRIMARY KEY (VendorNumber, Brand)
);
""")

OperationalError: table vendor_sales_summary already exists

In [32]:

import pandas as pd 
import sqlite3
conn = sqlite3.connect('inventory.db')
vendor_sales_summary.to_sql("vendor_sales_summary", conn, if_exists='replace', index=False)
pd.read_sql_query("select * from vendor_sales_summary",conn)

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesDollars,TotalSalesPrice,TotalSalesQuantity,TotalExciseTax,TotalFreightCost,GrossProfit,ProfitMargin,StockTurnover,SalestoPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,5101919.51,672819.31,142049.0,260999.20,68601.68,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,4819073.49,561512.37,160247.0,294438.66,144929.24,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,4538120.60,461140.15,187140.0,343854.07,123780.22,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,4475972.88,420050.01,200412.0,368242.80,257032.07,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,4223107.62,545778.28,135838.0,249587.83,257032.07,1199901.61,28.412764,0.983556,1.396897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,4.99,750.0,2,2.64,15.95,10.96,5.0,0.55,27100.41,13.31,83.448276,2.500000,6.041667
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,0.49,50.0,6,2.34,65.66,1.47,134.0,7.04,50293.62,63.32,96.436186,22.333333,28.059829
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,1.98,0.99,2.0,0.10,14069.87,0.50,25.252525,1.000000,1.337838
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,1.99,200.0,1,1.47,143.28,77.61,72.0,15.12,257032.07,141.81,98.974037,72.000000,97.469388
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,0.99,50.0,1,0.71,85.14,33.66,86.0,4.46,38994.78,84.43,99.166079,86.000000,119.915493